<h3>{{title}}</h3>
<table [ngStyle]="{'width':'100%'}">
    <tr>
        <th>S No</th>
        <th>Even/Odd</th>
        <th>Room Type</th>
        <th>Room Number</th>
        <th>Amenities</th>
        <th>Price</th>
        <th>Photos</th>
        <th>Checkin Time</th>
        <th>Checkout Time</th>
        <th>Select</th>
    </tr>
    <tr [ngClass]="e ? 'even' : 'odd' "
     *ngFor="let room of rooms;let e = even;let o = odd,let i=index">
        <td>{{i | percent}}</td>
        <td>{{e ? "Even" : "Odd"}}</td>
        <td>{{ room.roomNumber }}</td>
        <td>{{ room.roomType | titlecase}}</td>
        <td>{{ room.amenities }}</td>
        <td>{{ room.price | currency : 'INR'}}</td>
        <td>
            <img [src]="room.photos" alt="{{ room.roomType }}" width="100">
        </td>
        <td>{{ room.checkInTime | date:'dd-MM-yyyy' }}</td>
        <td>{{ room.checkOutTime | date:'dd-MM-yyyy' }}</td>
        <td><button (click)="selectRoom(room)">Submit</button></td>
    </tr>
</table>