
<!-- <div [ngSwitch]="roleType">
    <div *ngSwitchCase="'User'">You Don't have permissions to view the resources</div>
    <div *ngSwitchCase="'Admin'"><app-rooms></app-rooms>
    </div>
</div> -->

<app-rooms></app-rooms>
<!-- // --------------- case - I starts ----------------------- -->
<!-- <div>
    <ng-template #user></ng-template>
    
</div> -->
<!-- // --------------- case - I ends ----------------------- -->

<!-- // --------------- case - II starts --------------------- -->
<!-- <app-rooms></app-rooms>
<div #name>
    
</div> -->
<!-- // --------------- case - II ends ----------------------- -->