<form>
    <div class="form-group">
        <!-- <input appHover required type="email" [(ngModel)]="email" class="form-control" name="price" placeholder="Email"/> -->
        <input #em="ngModel" appEmailvalidator required type="email" [(ngModel)]="email" class="form-control" name="price" placeholder="Email"/>
        <div>
          {{em.errors | json }}
        </div>
    </div>
    <div class="form-group">
        <input appHover required type="password" [(ngModel)]="password" class="form-control" name="price" placeholder="Password"/>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="login()">Login</button>
    </div>
</form>
