<!-- <h1 [ngStyle]="{'color': numberOfRooms>0 ? 'blue' : 'yellow'}">welcome to {{hotelName}}</h1> -->
<!-- <app-header></app-header>
<app-header></app-header> -->
<!-- {{rooms$ | async | json}} -->
<app-header></app-header>
<div *ngIf="rooms$ | async as rooms " [ngStyle]="{'color': 'green'}">
    Number of Rooms:
<div [innerText]="numberOfRooms"></div>
<app-rooms-list [rooms]="rooms " (selectedRoom)="fetchSelectedRoom($event)" [title]="'Rooms Title'"></app-rooms-list>
</div>
<button (click)="toggle()">{{showRooms}}</button>
<div>{{selectedRoom | json }}</div>
<div><button (click)="addRoom()">Add Room</button></div>
<!-- <div>{{getError$ | async | json }}</div> -->
<h2>{{roomsCount$| async }}</h2>
<div *ngIf="roomsss.availableRooms>0">Rooms List
</div>

<button (click)="editRoom()">Edit Room</button>
<button (click)="deleteRoom()">Delete Room</button>

